/* Main App Container Styling */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Page entrance animations */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 800ms ease-in-out;
}
